@model List<Solentive.Interview.Model.Level>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#btnAddNewLevel").on("click", function () {
                window.location = '@Url.Action("Add", "Level")';
            });
        });
    </script>
}

<div class="well">
    <div class="row">
        <div class="col-md-12">
            <h2>Levels - List</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="btnAddNewLevel" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Add
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Scaling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Scaling</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>