@{
    ViewBag.Title = "About";
}
<div class="well" data-ng-controller="welcome as vm">
    <h2>About</h2>
    <p>
        Seminar is an application that manages sessions, lectures and seminars.
    </p>
</div>