@{
    ViewBag.Title = "Home";
}
<div class="well">
    <h2>Welcome</h2>
    <p>
        Welcome to Seminar!
    </p>
    <p>
        Please use the menu on the left to browse our seminars.  You can also view the tracks we currently have with
        additional information about the locations of our lectures, sessions and seminars together with their level
        of complexity.
    </p>
</div>