<div class="well">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/Seminar/List" data-ng-class="vm.isCurrent(i)">
                    <span class="glyphicon glyphicon-book"></span>&nbsp;Seminars
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/Track/List" data-ng-class="vm.isCurrent(i)">
                    <span class="glyphicon glyphicon-road"></span>&nbsp;Tracks
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/Location/List" data-ng-class="vm.isCurrent(i)">
                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;Locations
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/Level/List" data-ng-class="vm.isCurrent(i)">
                    <span class="glyphicon glyphicon-th-list"></span>&nbsp;Levels
                </a>
            </div>
        </div>
    </div>
</div>
